<form (ngSubmit)="onSubmit()" #postForm="ngForm">

  <div class="form-group">
    <label for="text">Text</label>
    <textarea class="form-control" id="text" name="text" rows="3" required [(ngModel)]="post.text" #text="ngModel"></textarea>
  </div>

  <div class="form-group">
    <label for="image">Image</label>
    <input type="text" class="form-control" id="image" name="image" required [(ngModel)]="post.image" #image="ngModel">
  </div>
  
  <div class="form-group">
    <label for="user_id">User</label>
    <input type="text" class="form-control" id="user_id" name="user_id" required [(ngModel)]="post.user_id" #user_id="ngModel">
  </div>
  
  
  <div class="form-group text-right">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>