<form (ngSubmit)="onSubmit()" #threadForm="ngForm">
  <div class="form-group">
    <label for="board_id">Board</label>
    <select class="form-control" id="board_id" name="board_id" required [(ngModel)]="thread.board_id" #board_id="ngModel">
      <option [value]="board.id" *ngFor="let board of boards">{{ board.name }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Thread Title" required [(ngModel)]="thread.title" #title="ngModel">
  </div>

  <div class="form-group">
    <label for="text">Text</label>
    <textarea class="form-control" id="text" name="text" rows="3" required [(ngModel)]="thread.text" #text="ngModel"></textarea>
  </div>

  <div class="form-group">
    <label for="image">Image</label>
    <input type="text" class="form-control" id="image" name="image" required [(ngModel)]="thread.image" #image="ngModel">
  </div>
  
  <div class="form-group">
    <label for="user_id">User</label>
    <input type="text" class="form-control" id="user_id" name="user_id" required [(ngModel)]="thread.user_id" #user_id="ngModel">
  </div>
  
  
  <div class="form-group text-right">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>