<div class="container">
  <div class="row">
    <div class="col-4" *ngIf="post.image !== '' ">
      <img [src]="post.image" alt="" class="img-fluid d-block">
    </div>
    <div [ngClass]="{'col-8': post.image !== '', 'col-12': post.image == ''}">
      <h3>{{ post.id + " " + post.title }}</h3>
      <p>{{ post.text }}</p>
    </div>
  </div>
</div>