.thread {
    display: block;
    // border: 1px solid #eee;
    margin: 1.5rem;
    &:nth-child(even) {
        background-color: #eee;
    }
    &:nth-child(odd) {
        background-color: #fff;
    }
}