<div class="thread" *ngFor="let thread of threads; let last = last;">
    <app-thread [thread]="thread" [isDetail]="isDetail"></app-thread>
    <div class="see-more text-right mr-5 pb-2" *ngIf="thread.posts.length >=5 && !isDetail">
        <a [routerLink]="[ '/threads', thread.id ]">See more</a>
    </div>
</div>