<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">neochan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row-space-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let board of boards">
          <a class="nav-link" [routerLink]="[ '/', board.name ]">{{ board.name }}</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/new-thread']">New Thread</a>
        </li>
      </ul>
    </div>
  </nav>
</header>