<div class="text-right"><a [routerLink]="[ '/new-post', thread.id ]">Reply</a></div>
<ng-container *ngFor="let post of thread.posts; let i = index">
    <div class="post" *ngIf="i<5 || isDetail">
        <app-post [post]="post"></app-post>
    </div>
</ng-container>